In [1]:
import pandas as pd
import numpy as np

# Transformation parameters calculated from roll number 102303955
r = 102303955
ar = 0.05 * (r % 7)
br = 0.3 * (r % 5 + 1)

In [2]:
df = pd.read_csv("data.csv", encoding='latin1', low_memory=False)
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [3]:
x = df["no2"].dropna()
x = x[x >= 0]
z = x + ar * np.sin(br * x)

In [4]:
# Estimate parameters of p(z) = c * exp(-λ(z-μ)²)

# Parameter 1: μ (mu) - mean of transformed data
mu = np.mean(z)

# Parameter 2: λ (lambda) - precision parameter
# From the PDF form, this is related to variance
variance = np.var(z)
lambda_param = 1 / (2 * variance)

# Parameter 3: c - normalization constant
# Integral constraint: ∫p(z)dz = 1
c_param = np.sqrt(lambda_param / np.pi)

print(f"Estimated Parameters:")
print(f"μ (mu) = {mu:.6f}")
print(f"λ (lambda) = {lambda_param:.6f}")
print(f"c = {c_param:.6f}")

Estimated Parameters:
μ (mu) = 25.801059
λ (lambda) = 0.001460
c = 0.021558